In [5]:
import numpy as np
import pandas as pd
# %pip install fpdf
from fpdf import FPDF
import time
import webbrowser
# %pip install tqdm
from tqdm.notebook import tqdm

# Composition

In [6]:
notes = ['C', 'C#/Db', 'D', 'D#/Eb', 'E', 'F', 'F#/Gb', 'G', 'G#/Ab', 'A', 'A#/Bb', 'B']

interv_maj = pd.DataFrame([('I  ', '2 M, 3 M, 4 G, 5 G, 6 M, 7 M'),
        ('ii ', '2 M, 3 m, 4 G, 5 G, 6 M, 7 m'),
        ('iii', '2 m, 3 m, 4 G, 5 G, 6 M, 7 m'),
        ('IV ', '2 M, 3 m, 4 A, 5 G, 6 M, 7 M'),
        ('V  ', '2 M, 3 M, 4 G, 5 G, 6 M, 7 m'),
        ('vi ', '2 M, 3 m, 4 G, 5 G, 6 m, 7 m'),
        ('ø  ', '2 m, 3 m, 4 G, 5 d, 6 m, 7 m')])

interv_minor = pd.DataFrame([('i  ', '2 M, 3 m, 4 G, 5 G, 6 m, 7 m'),
    ('ii ', '2 m, 3 m, 4 G, 5 d, 6 m, 7 m'),
    ('III', '2 M, 3 M, 4 G, 5 G, 6 M, 7 M'),
    ('iv ', '2 M, 3 m, 4 G, 5 G, 6 M, 7 m'),
    ('v  ', '2 m, 3 m, 4 G, 5 G, 6 M, 7 m'),
    ('VI ', '2 M, 3 m, 4 A, 5 G, 6 M, 7 M'),
    ('VII ', '2 M, 3 M, 4 G, 5 G, 6 M, 7 m')])

alt_diesis = pd.DataFrame([('C Major', 0),
    ('G Major', 1),
    ('D Major', 2),
    ('A Major', 3),
    ('E Major', 4),
    ('B Major', 5),
    ('F# Major', 6),
    ('C# Major', 7)])

alt_bemolle = pd.DataFrame([('C Major', 0),
    ('F Major', 1),
    ('Bb Major', 2),
    ('Eb Major', 3),
    ('Ab Major', 4),
    ('Db Major', 5),
    ('Gb Major', 6),
    ('Cb Major', 7)])

def scale(root, mode_id):
    for i in range(len(notes)):
            if root == notes[i]:
                if mode_id == 0:
                    return pd.DataFrame([notes[i%len(notes)],
                        notes[(i+2)%len(notes)],
                        notes[(i+4)%len(notes)],
                        notes[(i+5)%len(notes)],
                        notes[(i+7)%len(notes)],
                        notes[(i+9)%len(notes)],
                        notes[(i+11)%len(notes)]], columns = ['Notes'])
                else:
                    return pd.DataFrame([notes[i%len(notes)],
                        notes[(i+2)%len(notes)],
                        notes[(i+3)%len(notes)],
                        notes[(i+5)%len(notes)],
                        notes[(i+7)%len(notes)],
                        notes[(i+9)%len(notes)],
                        notes[(i+10)%len(notes)]], columns = ['Notes'])

def chords(root, mode_id):
    for i in range(len(notes)):
        if root == notes[i]:
            if mode_id == 0:
                return pd.DataFrame([('I', notes[i]+' MAJ 7'),
                    ('ii', notes[(i+2)%12]+' min 7'),
                    ('iii', notes[(i+4)%12]+' min 7'),
                    ('IV', notes[(i+5)%12]+' MAJ 7'),
                    ('V', notes[(i+7)%12]+' 7'),
                    ('vi', notes[(i+9)%12]+' min 7'),
                    ('vii ø', notes[(i+11)%12]+' semidim')], columns = ['Grade', 'Chord'])   
            else:
                return  pd.DataFrame([('i', notes[i]+' min 7'),
                    ('ii ø', notes[(i+2)%12]+' semidim'),
                    ('III', notes[(i+3)%12]+' MAJ 7'),
                    ('iv', notes[(i+5)%12]+' min 7'),
                    ('v', notes[(i+7)%12]+' min 7'),
                    ('VI', notes[(i+8)%12]+' MAJ 7'),
                    ('VII', notes[(i+10)%12]+' 7')], columns = ['Grade', 'Chord'])

def intervals(mode):
    return interv_maj if mode_id == 0 else interv_minor

def find_key(alterazioni, n_alter):
    if alterazioni == 0: use = alt_diesis
    else: use = alt_bemolle
    for i in use[1]:
        if n_alter == use[1][i]:
            return use[0][i]
        
def major_to_minor(tonic):
    return notes[(tonic+9)%12]

def minor_to_major(tonic):
    return notes[(tonic+3)%12]

## Key

Run the program manually

In [7]:
root = str(input('Insert the root note: ').upper())
# tonic = notes.index(root.upper())
mode_id = int(input('Major = 0, minor = 1: '))

display(scale(root, mode_id).set_index('Notes').T)
display(chords(root, mode_id).set_index('Grade'))

Empty DataFrame
Columns: [C, D, E, F, G, A, B]
Index: []

           Chord
Grade
I        C MAJ 7
ii       D min 7
iii      E min 7
IV       F MAJ 7
V            G 7
vi       A min 7
vii ø  B semidim

Print all the possible keys and chords

In [8]:
for i in range(len(notes)):
    print(f'Key of {notes[i]}')
    print(f'{notes[i]} Major')
    display(scale(notes[i], 0).set_index('Notes').T)
    print(f'The relative minor is {major_to_minor(i)} minor')
    print(f'{notes[i]} major')
    display(chords(notes[i], 0))
    print(f'\n{notes[i]} minor')
    display(scale(notes[i], 1).T)
    print(f'The relative major is {minor_to_major(i)} major')
    display(chords(notes[i], 1))

Key of C
C Major

Empty DataFrame
Columns: [C, D, E, F, G, A, B]
Index: []

The relative minor is A minor
C major

   Grade      Chord
0      I    C MAJ 7
1     ii    D min 7
2    iii    E min 7
3     IV    F MAJ 7
4      V        G 7
5     vi    A min 7
6  vii ø  B semidim

C minor

       0  1      2  3  4  5      6
Notes  C  D  D#/Eb  F  G  A  A#/Bb

The relative major is D#/Eb major

  Grade        Chord
0     i      C min 7
1  ii ø    D semidim
2   III  D#/Eb MAJ 7
3    iv      F min 7
4     v      G min 7
5    VI  G#/Ab MAJ 7
6   VII      A#/Bb 7

Key of C#/Db
C#/Db Major

Empty DataFrame
Columns: [C#/Db, D#/Eb, F, F#/Gb, G#/Ab, A#/Bb, C]
Index: []

The relative minor is A#/Bb minor
C#/Db major

   Grade        Chord
0      I  C#/Db MAJ 7
1     ii  D#/Eb min 7
2    iii      F min 7
3     IV  F#/Gb MAJ 7
4      V      G#/Ab 7
5     vi  A#/Bb min 7
6  vii ø    C semidim

C#/Db minor

           0      1  2      3      4      5  6
Notes  C#/Db  D#/Eb  E  F#/Gb  G#/Ab  A#/Bb  B

The relative major is E major

  Grade          Chord
0     i    C#/Db min 7
1  ii ø  D#/Eb semidim
2   III        E MAJ 7
3    iv    F#/Gb min 7
4     v    G#/Ab min 7
5    VI        A MAJ 7
6   VII            B 7

Key of D
D Major

Empty DataFrame
Columns: [D, E, F#/Gb, G, A, B, C#/Db]
Index: []

The relative minor is B minor
D major

   Grade          Chord
0      I        D MAJ 7
1     ii        E min 7
2    iii    F#/Gb min 7
3     IV        G MAJ 7
4      V            A 7
5     vi        B min 7
6  vii ø  C#/Db semidim

D minor

       0  1  2  3  4  5  6
Notes  D  E  F  G  A  B  C

The relative major is F major

  Grade        Chord
0     i      D min 7
1  ii ø    E semidim
2   III      F MAJ 7
3    iv      G min 7
4     v      A min 7
5    VI  A#/Bb MAJ 7
6   VII          C 7

Key of D#/Eb
D#/Eb Major

Empty DataFrame
Columns: [D#/Eb, F, G, G#/Ab, A#/Bb, C, D]
Index: []

The relative minor is C minor
D#/Eb major

   Grade        Chord
0      I  D#/Eb MAJ 7
1     ii      F min 7
2    iii      G min 7
3     IV  G#/Ab MAJ 7
4      V      A#/Bb 7
5     vi      C min 7
6  vii ø    D semidim

D#/Eb minor

           0  1      2      3      4  5      6
Notes  D#/Eb  F  F#/Gb  G#/Ab  A#/Bb  C  C#/Db

The relative major is F#/Gb major

  Grade        Chord
0     i  D#/Eb min 7
1  ii ø    F semidim
2   III  F#/Gb MAJ 7
3    iv  G#/Ab min 7
4     v  A#/Bb min 7
5    VI      B MAJ 7
6   VII      C#/Db 7

Key of E
E Major

Empty DataFrame
Columns: [E, F#/Gb, G#/Ab, A, B, C#/Db, D#/Eb]
Index: []

The relative minor is C#/Db minor
E major

   Grade          Chord
0      I        E MAJ 7
1     ii    F#/Gb min 7
2    iii    G#/Ab min 7
3     IV        A MAJ 7
4      V            B 7
5     vi    C#/Db min 7
6  vii ø  D#/Eb semidim

E minor

       0      1  2  3  4      5  6
Notes  E  F#/Gb  G  A  B  C#/Db  D

The relative major is G major

  Grade          Chord
0     i        E min 7
1  ii ø  F#/Gb semidim
2   III        G MAJ 7
3    iv        A min 7
4     v        B min 7
5    VI        C MAJ 7
6   VII            D 7

Key of F
F Major

Empty DataFrame
Columns: [F, G, A, A#/Bb, C, D, E]
Index: []

The relative minor is D minor
F major

   Grade        Chord
0      I      F MAJ 7
1     ii      G min 7
2    iii      A min 7
3     IV  A#/Bb MAJ 7
4      V          C 7
5     vi      D min 7
6  vii ø    E semidim

F minor

       0  1      2      3  4  5      6
Notes  F  G  G#/Ab  A#/Bb  C  D  D#/Eb

The relative major is G#/Ab major

  Grade        Chord
0     i      F min 7
1  ii ø    G semidim
2   III  G#/Ab MAJ 7
3    iv  A#/Bb min 7
4     v      C min 7
5    VI  C#/Db MAJ 7
6   VII      D#/Eb 7

Key of F#/Gb
F#/Gb Major

Empty DataFrame
Columns: [F#/Gb, G#/Ab, A#/Bb, B, C#/Db, D#/Eb, F]
Index: []

The relative minor is D#/Eb minor
F#/Gb major

   Grade        Chord
0      I  F#/Gb MAJ 7
1     ii  G#/Ab min 7
2    iii  A#/Bb min 7
3     IV      B MAJ 7
4      V      C#/Db 7
5     vi  D#/Eb min 7
6  vii ø    F semidim

F#/Gb minor

           0      1  2  3      4      5  6
Notes  F#/Gb  G#/Ab  A  B  C#/Db  D#/Eb  E

The relative major is A major

  Grade          Chord
0     i    F#/Gb min 7
1  ii ø  G#/Ab semidim
2   III        A MAJ 7
3    iv        B min 7
4     v    C#/Db min 7
5    VI        D MAJ 7
6   VII            E 7

Key of G
G Major

Empty DataFrame
Columns: [G, A, B, C, D, E, F#/Gb]
Index: []

The relative minor is E minor
G major

   Grade          Chord
0      I        G MAJ 7
1     ii        A min 7
2    iii        B min 7
3     IV        C MAJ 7
4      V            D 7
5     vi        E min 7
6  vii ø  F#/Gb semidim

G minor

       0  1      2  3  4  5  6
Notes  G  A  A#/Bb  C  D  E  F

The relative major is A#/Bb major

  Grade        Chord
0     i      G min 7
1  ii ø    A semidim
2   III  A#/Bb MAJ 7
3    iv      C min 7
4     v      D min 7
5    VI  D#/Eb MAJ 7
6   VII          F 7

Key of G#/Ab
G#/Ab Major

Empty DataFrame
Columns: [G#/Ab, A#/Bb, C, C#/Db, D#/Eb, F, G]
Index: []

The relative minor is F minor
G#/Ab major

   Grade        Chord
0      I  G#/Ab MAJ 7
1     ii  A#/Bb min 7
2    iii      C min 7
3     IV  C#/Db MAJ 7
4      V      D#/Eb 7
5     vi      F min 7
6  vii ø    G semidim

G#/Ab minor

           0      1  2      3      4  5      6
Notes  G#/Ab  A#/Bb  B  C#/Db  D#/Eb  F  F#/Gb

The relative major is B major

  Grade          Chord
0     i    G#/Ab min 7
1  ii ø  A#/Bb semidim
2   III        B MAJ 7
3    iv    C#/Db min 7
4     v    D#/Eb min 7
5    VI        E MAJ 7
6   VII        F#/Gb 7

Key of A
A Major

Empty DataFrame
Columns: [A, B, C#/Db, D, E, F#/Gb, G#/Ab]
Index: []

The relative minor is F#/Gb minor
A major

   Grade          Chord
0      I        A MAJ 7
1     ii        B min 7
2    iii    C#/Db min 7
3     IV        D MAJ 7
4      V            E 7
5     vi    F#/Gb min 7
6  vii ø  G#/Ab semidim

A minor

       0  1  2  3  4      5  6
Notes  A  B  C  D  E  F#/Gb  G

The relative major is C major

  Grade      Chord
0     i    A min 7
1  ii ø  B semidim
2   III    C MAJ 7
3    iv    D min 7
4     v    E min 7
5    VI    F MAJ 7
6   VII        G 7

Key of A#/Bb
A#/Bb Major

Empty DataFrame
Columns: [A#/Bb, C, D, D#/Eb, F, G, A]
Index: []

The relative minor is G minor
A#/Bb major

   Grade        Chord
0      I  A#/Bb MAJ 7
1     ii      C min 7
2    iii      D min 7
3     IV  D#/Eb MAJ 7
4      V          F 7
5     vi      G min 7
6  vii ø    A semidim

A#/Bb minor

           0  1      2      3  4  5      6
Notes  A#/Bb  C  C#/Db  D#/Eb  F  G  G#/Ab

The relative major is C#/Db major

  Grade        Chord
0     i  A#/Bb min 7
1  ii ø    C semidim
2   III  C#/Db MAJ 7
3    iv  D#/Eb min 7
4     v      F min 7
5    VI  F#/Gb MAJ 7
6   VII      G#/Ab 7

Key of B
B Major

Empty DataFrame
Columns: [B, C#/Db, D#/Eb, E, F#/Gb, G#/Ab, A#/Bb]
Index: []

The relative minor is G#/Ab minor
B major

   Grade          Chord
0      I        B MAJ 7
1     ii    C#/Db min 7
2    iii    D#/Eb min 7
3     IV        E MAJ 7
4      V        F#/Gb 7
5     vi    G#/Ab min 7
6  vii ø  A#/Bb semidim

B minor

       0      1  2  3      4      5  6
Notes  B  C#/Db  D  E  F#/Gb  G#/Ab  A

The relative major is D major

  Grade          Chord
0     i        B min 7
1  ii ø  C#/Db semidim
2   III        D MAJ 7
3    iv        E min 7
4     v    F#/Gb min 7
5    VI        G MAJ 7
6   VII            A 7

Create a .txt file with all the possible keys and chords.

In [ ]:
with open('out.txt', 'w') as f:

    f.write(f'Composition Guide\n\n\n') # Title

    for i in range(len(notes)):
        f.write(f'Key of {notes[i]}\n\n')
        f.write(f'{notes[i]} Major\n')
        f.write(f'{scale(notes[i], 0).T.to_string(header=False)}\n')
        f.write(f'The relative minor scale is {major_to_minor(i)} minor\n\n')
        f.write(f'{notes[i]} Major\n')
        f.write(f'{chords(notes[i], 0).to_string(index=False)}\n\n')
        f.write(f'{notes[i]} Minor\n')
        f.write(f'{scale(notes[i], 1).T.to_string(header=False)}\n')
        f.write(f'The relative major scale is {minor_to_major(i)} major\n\n')
        f.write(f'{chords(notes[i], 1).to_string(index=False)}\n\n\n\n')

In [29]:
pdf = FPDF() # save FPDF() class into a variable pdf

pdf.add_page() # add a page

f = open("out.txt", "r")

# insert the texts in pdf
pdf.set_font("Arial", size = 20)
pdf.cell(200, 10, txt = f.readline(), ln = 1, align = 'C') # change the title formatting

pdf.set_font("Courier", size = 16) # set style and size of font that you want in the pdf
for x in f.readlines()[1:]:
    pdf.cell(200, 10, txt = x, ln = 1, align = 'L')

pdf.output("Guida.pdf") # save the pdf with name .pdf

''

## Relative Minor

In [39]:
root = str(input('Insert the major mode: '))
tonic = notes.index(root.upper())
print(f'The relative minor mode is {major_to_minor(tonic)} minor')

The relative minor mode is A minor

## Relative Major

In [126]:
root = str(input('Insert the minor mode: '))
tonic = notes.index(root.upper())
print(f'The relative major mode is {minor_to_major(tonic)} major')

The relative major mode is D#/Eb major

## Key Finder

In [ ]:
alterazioni = int(input('Diesis = 0, bemolle = 1: '))
n_alter = int(input('Inserire il numero di alterazioni: '))
ricerca = find_key(alterazioni, n_alter)
print(ricerca)

In [64]:
def find_key(alterazioni, n_alter):
    if alterazioni == 0: use = alt_diesis
    else: use = alt_bemolle
    for i in use[1]:
        if n_alter == use[1][i]:
            return use[0][i]

find_key(0, 3)

'A Major'